.card-container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bold;
    color: black;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    margin-bottom: 30px;
    max-width: 90%;
  }
  
  .card:hover {
    transform: scale(1.15);
  }
  
  .card-body {
    cursor: default;
  }
  