<div class="row justify-content-center mb-4">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-container">
        <div class="card h-100 border border-white shadow-sm w-90 pointer">
          <div class="card-body text-center">
            <p class="font-weight-bold">Compras a proveedores</p>
            <p>$1,987,654.32</p>
            <p>Total de compras</p>
          </div>
        </div>  
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-container">
        <div class="card h-100 border border-white shadow-sm w-90">
          <div class="card-body text-center">
            <p class="font-weight-bold">Monto facturado al mes</p>
            <p>$1,987,654.32</p>
            <p>Total ventas facturadas</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-container">
        <div class="card h-100 border border-white shadow-sm w-90">
          <div class="card-body text-center">
            <p class="font-weight-bold">Monto en notas de ventas</p>
            <p>$1,987,654.32</p>
            <p>Total de notas de venta</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card-container">
        <div class="card h-100 border border-white shadow-sm w-90">
          <div class="card-body text-center">
            <p class="font-weight-bold">Monto de pagos recibidos</p>
            <p>$1,987,654.32</p>
            <p>Total de pagos recibidos</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  