<div class="checkbox-wrapper-46 ">
    <div>
      <input type="checkbox" id="cbx-1" class="inp-cbx" />
      <label for="cbx-1" class="cbx">
        <span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
        <span>Disponibilidad de ventas </span>
      </label>
    </div>
    <div>
      <input type="checkbox" id="cbx-2" class="inp-cbx" />
      <label for="cbx-2" class="cbx">
        <span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
        <span>Kit </span>
      </label>
    </div>
    <div>
      <input type="checkbox" id="cbx-3" class="inp-cbx" />
      <label for="cbx-3" class="cbx">
        <span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
        <span>Servicio </span>
      </label>
    </div>

    <div>
        <input type="checkbox" id="cbx-4" class="inp-cbx" />
        <label for="cbx-4" class="cbx">
          <span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
          <span>Extra </span>
        </label>
      </div>

      <div>
        <input type="checkbox" id="cbx-5" class="inp-cbx" />
        <label for="cbx-5" class="cbx">
          <span>
            <svg viewBox="0 0 12 10" height="25%" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
          <span>Produccion </span>
        </label>
      </div>

      <div>
        <input type="checkbox" id="cbx-6" class="inp-cbx" />
        <label for="cbx-6" class="cbx">
          <span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
          <span>eCommerce </span>
        </label>
      </div>

      <div>
        <input type="checkbox" id="cbx-7" class="inp-cbx" />
        <label for="cbx-7" class="cbx">
          <span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
          <span>Series </span>
        </label>
      </div>

      <div>
        <input type="checkbox" id="cbx-8" class="inp-cbx" />
        <label for="cbx-8" class="cbx">
          <span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
          <span>Ventas del dia </span>
        </label>
      </div>
  </div>
  