<div class="dropdown">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" (click)="toggleAnimation('Generales')">Generales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleAnimation('Precios')">Precios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleAnimation('Impuestos')">Impuestos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleAnimation('Otros')">Otros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleAnimation('Producción')">Producción</a>
    </li>
  </ul>
</div>
