@media (max-width: 768px) {
  .col-md-6 {
    width: 100%; /* Hacer que las columnas ocupen todo el ancho en dispositivos pequeños */
    margin-right: 0; /* Eliminar el margen derecho */
  }
  .input-container {
    width: 100%; /* Ajustar el ancho de los contenedores de entrada */
  }
}

  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #000;
  }

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  

.input-container {
  position: relative;
  margin: 20px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #1f0707;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 28px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
.input-container {
  position: relative;
  margin: 20px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #1f0707;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

/* Esta es la animacion del menú desplegable */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-select {
  border: none;
  margin-left: 6px;
}


.dropdown-toggle {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
  border: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  max-height: 200px;
}

.dropdown-menu li {
  display: block;
  
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.6s forwards; /* Aplicar la animación al mostrar */
}