<div class="container">
    <h1>Producto</h1>
    <app-check-box-lateral></app-check-box-lateral>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="margin-top: 9px; margin-right: -5%; height: 99% ; width: 120%;">
          <div class="card-body">
            <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label" >Clave</label>
                      <div class="underline"></div>
                    </div>
                    
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Descripcion</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Codigo de barras</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="custom-select">
                      <label for="categoria" class="custom-label">Ruta de categoría:</label>
                      <div class="dropdown">
                        <a href="#" class="dropdown-toggle"><span>Seleccionar categoría</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul id="categoria" class="dropdown-menu">
                          <li><a href="#">Categoría 1</a></li>
                          <li><a href="#">Categoría 2</a></li>
                          <li><a href="#">Categoría 3</a></li>
                        </ul>
                      </div>
                    </div>
                    
                  <div class="input-container">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Costo</label>
                    <div class="underline"></div>
                  </div>
        
                  <div class="input-container">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Ultimo Costo</label>
                    <div class="underline"></div>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Precio</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Margen</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Precio final</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Maximo</label>
                      <div class="underline"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Minimo</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Unidad</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Clave producto y/o servicio:</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Clave unidad Sat:</label>
                      <div class="underline"></div>
                    </div>
                  </div>
                </div>
                <div class="wrap">
                  <button class="button">Guardar</button>
                </div>
              
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="card" style="  margin: 120px; margin-top: 2.4%; width: 90%;">
          <div class="card-body "  >
            <app-checkboxs></app-checkboxs>
          </div>
        </div>
      </div>
</div>

  
  