<div class="container">
    <h1>Producto</h1>
    <app-check-box-lateral></app-check-box-lateral>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="margin-top: 9px; margin-right: -5%;">
          <div class="card-body">
            <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label" >Clave</label>
                      <div class="underline"></div>
                    </div>
                    
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Descripcion</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Codigo de barras</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="custom-select">
                      <label for="ruta" class="custom-label">Ruta de categoría:</label>
                      <select id="ruta" formControlName="ruta" class="custom-select-box">
                          <option selected disabled>Seleccionar categoría</option>
                          <option value="opcion1">Opción 1</option>
                          <option value="opcion2">Opción 2</option>
                          <option value="opcion3">Opción 3</option>
                          <option value="opcion4">Opción 4</option>
                      </select>
                  </div>
                  
  
                  <div class="input-container">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Costo</label>
                    <div class="underline"></div>
                  </div>
        
                  <div class="input-container">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Ultimo Costo</label>
                    <div class="underline"></div>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Precio</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Margen</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Precio final</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Maximo</label>
                      <div class="underline"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Minimo</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Unidad</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Clave producto y/o servicio:</label>
                      <div class="underline"></div>
                    </div>
        
                    <div class="input-container">
                      <input type="text" id="input" required="">
                      <label for="input" class="label">Clave unidad Sat:</label>
                      <div class="underline"></div>
                    </div>
                  </div>
                </div>
                <div class="wrap">
                  <button class="button">Guardar</button>
                </div>
              
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="card" style="padding: 20px; width: 80%; height: -50px; margin-top: 9px;">
          <div class="card-body ">
            <app-checkboxs></app-checkboxs>
          </div>
        </div>
      </div>
</div>

  
  