<div class="row">
  <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">
          <i class='bx bxs-circle' style='color:#50bbbb'  ></i> Clientes promedio</h5>
        <h2 class="card-text" style="font-size: 30px;">
          <strong>18</strong>
        </h2>
        <p class="card-text">
          Total clientes promedio
        </p>
      </div>
    </div>
  </div>
  <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">
          <i class='bx bxs-circle' style='color:#d25100'  ></i> Inventario del dia</h5>
        <h2 class="card-text" style="font-size: 30px;">
          <strong>$1,987,654.32</strong>
        </h2>
        <p class="card-text">
          Monto total de inventario
        </p>
      </div>
    </div>
  </div>
  <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">
          <i class='bx bxs-circle' style='color:#149006'  ></i> Cuentas a cobrar</h5>
        <h2 class="card-text" style="font-size: 30px;">
          <strong>$1,987,654.32</strong>
        </h2>
        <p class="card-text">
          Total de cuentas a cobrar
        </p>
      </div>
    </div>
  </div>
  <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title mb-3">
          <i class='bx bxs-circle bx-flip-vertical bx-tada' style='color:#bd0000' ></i> Cuentas por pagar</h5>
        <h2 class="card-text" style="font-size: 30px;">
          <strong>$1,987,654.32</strong>
        </h2>
        <p class="card-text">
          Total de cuentas por cobrar
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Gráfica ventas ultmos 12 meses-->
<div class="row">
  <div class="col  mt-3">  
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <h5 class="card-title mb-3">Ventas últimos 12 meses</h5>
        <a href="#" class="btn btn-primary">Sucursal A</a>
        <a href="#" class="btn btn-primary">Gráfico Lineal</a>
      </div>
      <div class="row justify-content-center mb-4 ml-2">
        <div id="graficaLineal" style="width: 550px; height: 300px;"></div>
      </div>
      <div class="mt-0 text-center">
        <ul class="list-group list-group-horizontal justify-content-center">
          <li class="list-group-item"><i class='bx bx-minus' style='color:#e8743b'  ></i> 2023</li>
          <li class="list-group-item"><i class='bx bx-minus' style='color:#5899da'  ></i> 2024</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Grafica de Analisis compra-venta-pagos -->
  <div class="col  mt-3">  
    <div class="card">
      <div class="card-body d-flex justify-content-between">
        <h5 class="card-title mb-3">Análisis de Compras, Ventas y Pagos</h5>
        <a href="#" class="btn btn-primary">Ventas y pagos</a>
      </div>
      <div class="row justify-content-center mb-4 ml-2">
        <div id="graficaId" style="width: 550px; height: 300px;"></div>
      </div>
      <div class="mt-0 text-center">
        <ul class="list-group list-group-horizontal justify-content-center">
          <li class="list-group-item"><i class='bx bxs-checkbox' style='color:#e8743b'  ></i> Compras</li>
          <li class="list-group-item"><i class='bx bxs-checkbox' style='color:#5899da'  ></i> Ventas</li>
          <li class="list-group-item"><i class='bx bxs-checkbox' style='color:#19A979'  ></i> Pagos</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="row justify-content-center mb-4">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 border border-white shadow-sm w-90 pointer:" style="background: rgba(247, 244, 244, 0.58); border-radius: 17px; text-align: center; cursor: pointer; transition: all 0.5s; display: flex; align-items: center; justify-content: center; user-select: none; font-weight: bolder; color: black; box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22); backdrop-filter: blur(6px); margin-bottom: 20px;">
        <div class="card-body text-center" style="cursor: default;" onmouseover="this.parentNode.style.transform = 'scale(1.05)';" onmouseout="this.parentNode.style.transform = 'scale(1)';">
          <p class="font-weight-bold" style="font-size: 24px;">Compras a proveedores</p>
          <p style="font-size: 18px;">$1,987,654.32</p>
          <p style="font-size: 18px;">Total de compras</p>
        </div>
      </div>  
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 border border-white shadow-sm w-90" style="background: rgba(247, 244, 244, 0.58); border-radius: 17px; text-align: center; cursor: pointer; transition: all 0.5s; display: flex; align-items: center; justify-content: center; user-select: none; font-weight: bolder; color: black; box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22); backdrop-filter: blur(6px); margin-bottom: 20px;">
        <div class="card-body text-center" style="cursor: default;" onmouseover="this.parentNode.style.transform = 'scale(1.15)';" onmouseout="this.parentNode.style.transform = 'scale(1)';">
          <p class="font-weight-bold" style="font-size: 24px;">Monto facturado al mes</p>
          <p style="font-size: 18px;">$1,987,654.32</p>
          <p style="font-size: 18px;">Total ventas facturadas</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 border border-white shadow-sm w-90" style="background: rgba(247, 244, 244, 0.58); border-radius: 17px; text-align: center; cursor: pointer; transition: all 0.5s; display: flex; align-items: center; justify-content: center; user-select: none; font-weight: bolder; color: black; box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22); backdrop-filter: blur(6px); margin-bottom: 20px;">
        <div class="card-body text-center" style="cursor: default;" onmouseover="this.parentNode.style.transform = 'scale(1.15)';" onmouseout="this.parentNode.style.transform = 'scale(1)';">
          <p class="font-weight-bold" style="font-size: 24px;">Monto en notas de ventas</p>
          <p style="font-size: 18px;">$1,987,654.32</p>
          <p style="font-size: 18px;">Total de notas de venta</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 border border-white shadow-sm w-90" style="background: rgba(247, 244, 244, 0.58); border-radius: 17px; text-align: center; cursor: pointer; transition: all 0.5s; display: flex; align-items: center; justify-content: center; user-select: none; font-weight: bolder; color: black; box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22); backdrop-filter: blur(6px); margin-bottom: 20px;">
        <div class="card-body text-center" style="cursor: default;" onmouseover="this.parentNode.style.transform = 'scale(1.15)';" onmouseout="this.parentNode.style.transform = 'scale(1)';">
          <p class="font-weight-bold" style="font-size: 24px;">Monto de pagos recibidos</p>
          <p style="font-size: 18px;">$1,987,654.32</p>
          <p style="font-size: 18px;">Total de pagos recibidos</p>
        </div>
      </div>
    </div>
  </div>
</div>
