<div class="container">
  <h1>Producto</h1>
  <app-check-box-lateral></app-check-box-lateral>
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="margin-top: 9px;">
        <div class="card-body">
          <app-concepto></app-concepto>
        </div>
      </div>
    </div>
    <div class="col-md-4"> 
      <div class="card" style="margin-top: 9px;">
        <div class="card-body">
          <app-checkboxs></app-checkboxs>
        </div>
      </div>
    </div>
  </div>
</div>
