<div class="row d-flex justify-content-between">
    <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Compras a proveedores</h5>
          <h2 class="card-text">
            <strong>$ 1,987,654.32</strong>
          </h2>
          <p class="card-text">
            Total de compras
          </p>
        </div>
      </div>
    </div>
    <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Monto facturado al mes</h5>
          <h2 class="card-text" >
            <strong>$1,987,654.32</strong>
          </h2>
          <p class="card-text">
            Total de ventas facturadas
          </p>
        </div>
      </div>
    </div>
    <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">
              Monto en notas de venta
          </h5>
          <h2 class="card-text" >
            <strong>$1,987,654.32</strong>
          </h2>
          <p class="card-text">
            Total de notas de venta
          </p>
        </div>
      </div>
    </div>
    <div class="col text-center" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">  
      <div class="card">
        <div class="card-body ">
          <h5 class="card-title mb-3">
              Monto de pagos recibidos
          </h5>
          <h2 class="card-text" >
            <strong>$1,987,654.32</strong>
          </h2>
          <p class="card-text">
            Total de pagos recibidos
          </p>
        </div>
      </div>
    </div>
  </div>